<div class="h-[420px] w-[330px] p-5 text-base font-inter">
  <div class="flex flex-col h-full">
    <div class="flex justify-between items-center">
      <img class="h-9" src="assets/logo/zil-money-logo.svg" alt="" />
      <div class="text-lg flex gap-2.5 text-blue-900">
        <fa-icon [icon]="faQuestion" />
        <fa-icon class="cursor-pointer" (click)="close()" [icon]="faX" />
      </div>
    </div>

    <div class="h-6"></div>

    @if (!loading()) {
      @if (currentStep() === "SET_API_KEY") {
        <app-set-api-key (valueSet)="setApiKey($event)" />
      }

      @if (currentStep() === "TAKE_SCREENSHOT") {
        <app-take-screenshot
          (removeApiKey)="removeApiKey($event)"
          (setFile)="setImage($event)"
        />
      }

      @if (currentStep() === "CHOOSE_APPS") {
        <app-choose-apps
          [payrollApps]="payrollApps()"
          (businessSelected)="setPayrollApp($event)"
        />
      }

      @if (currentStep() === "SUCCESS_PAGE") {
        <app-success-page />
      }
    } @else {
      <div class="h-full w-full flex flex-col items-center justify-center">
        <fa-duotone-icon animation="spin" [icon]="faLoader" />
        <span> Loading... </span>
      </div>
    }
  </div>
</div>
